* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    color: rgb(189, 226, 184);
    text-decoration: none;
}

body {
    background: #b6adad; 
    color: white;
}

/* Navbar */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation:show-content 1.5s linear forwards;
    animation-delay:1.2s ;
}
@keyframes show-content {
       100%{
    visibility: visible;
    opacity: 1;
}    
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    color: #7cf03d;
    cursor: pointer;
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation:show-content 1.5s linear forwards;
    animation-delay:1.2s ;
}

.home_info h1 {
    font-size: 55px;
}

.home_info h2 {
    font-size: 32px;
    margin: 10px 0 25px;
}

.home_info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home_info .btn_sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 1s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home_info .btn_sci .sci {
    margin-left: 20px;
}

.home_info .btn_sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 0.55s;
}

.home_info .btn_sci .sci a:hover {
    background: #7cf03d;
    color: black;
    box-shadow: 0 0 10px #7cf03d;
}

/* Image Box */
.home_img .img_box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home_img .img_box::before,
.home_img .img_box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home_img .img_box::after {
    animation-delay: -5s;
}
@keyframes rotate-border{
    100% {
        transform:rotate(360deg)
    }
}

.home_img .img_box .img_item {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50%;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home_img .img_box .img_item img {
    position: absolute;
    right: 50px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/* Bar Animation */
.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: black;
    transform: translateY(100%);
    animation: show-bars 0.5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #7cf03d;
    position: relative;
}
